---
layout: default
title: Support
afx_sections: [["support-en","English (en)"],["support-zh-cn","中文 (zh-CN)"]]
---

{% include new-section.html id="support-en" %}

<h2>English</h2>

<h3><a href="https://github.com/advancedfx/advancedfx/wiki"><b>Manual</b></a></h3>
<p>
	HLAE wiki with <a href="https://github.com/advancedfx/advancedfx/wiki/FAQ">FAQ</a>, <a href="https://github.com/advancedfx/advancedfx/wiki/Tutorials">tutorials</a>, <a href="https://github.com/advancedfx/advancedfx/wiki/Source%3ACommands">command list</a>, and others.
</p>

<h3><a href="https://discord.gg/NGp8qhN"><b>Discord</b></a></h3>
<p>
	Live text chat support from HLAE team members and community members.
</p>

<h3><b>GitHub - <a href="https://github.com/advancedfx/advancedfx/discussions">Discussions</a></b> / <a href="https://github.com/advancedfx/advancedfx/issues">Issues</a></a></h3>
<p>
	Use Discussions for questions / ideas.<br />
	Use Issues for bug reports.
</p>

{% include new-section.html id="support-zh-cn" %}

<h2>中文 (zh-CN)</h2>

<h3><a href="https://hlae.site"><b>HLAE中文站</b> - https://hlae.site</a></h3>
