---
layout: default
title: Support
afx_sections: [["notice","Notice"],["support-en","English (en)"],["support-zh-cn","中文 (zh-CN)"]]
---

{% include new-section.html id="notice" %}

<h2>Notice</h2>

<p>
	Please keep in mind, that even though we accept donations, <b>HLAE is free software</b> and a hobby for most in the HLAE team.<br />
	Thus the support we can provide is limited. We encourage you to read the Manual or help each other in the Discord / Q&A Discussions instead.
</p>

{% include new-section.html id="support-en" %}

<h2>English</h2>

<h3><a href="https://github.com/advancedfx/advancedfx/wiki"><b>Manual</b></a></h3>
<p>
	HLAE wiki with <a href="https://github.com/advancedfx/advancedfx/wiki/FAQ">FAQ</a>, <a href="https://github.com/advancedfx/advancedfx/wiki/Tutorials">tutorials</a>, <a href="https://github.com/advancedfx/advancedfx/wiki/Source%3ACommands">command list</a>, and others.
</p>

<h3>GitHub - <a href="https://github.com/advancedfx/advancedfx/discussions"><b>Discussions</b></a></h3>
<p>
	For questions / discussions.
</p>

<h3><a href="https://discord.gg/NGp8qhN"><b>Discord</b></a></h3>
<p>
	Live text chat support from HLAE team members and community members.
</p>

<h3>GitHub - <a href="https://github.com/advancedfx/advancedfx/issues/new?assignees=&labels=bug&template=bug_report.md&title="><b>Issues</b></a></h3>
<p>
	For bug reports amd ideas (enhancements).
</p>

{% include new-section.html id="support-zh-cn" %}

<h2>中文 (zh-CN)</h2>

<h3><a href="https://hlae.site"><b>HLAE中文站</b> - https://hlae.site</a></h3>
<p>
	This site is run by a third party and one of the HLAE team members is involved.
</p>
