---
layout: default
title: Contact
afx_sections: [["contact","Contact"],["privacy","Privay Policy"],["imprint","Imprint"]]
---

{% include new-section.html id="contact" %}

<h2>Contact</h2>

<p>Please see our <a href="/support/"><strong>support</strong></a> page if you have questions related to HLAE!</p>

<p>Twitter: <a href="https://twitter.com/advancedfx_org">@advancedfx_org<a></p>

<p>For adminstrative purposes: <a href="mailto:contact@advancedfx.org">contact@advancedfx.org</a></p>

<p>Our security policy can be found here: <a href="https://github.com/advancedfx/.github/blob/master/.github/SECURITY.md">https://github.com/advancedfx/.github/blob/master/.github/SECURITY.md</a></p>


{% include new-section.html id="privacy" %}

<h2>Privay Policy</h2>

<p>Last modified: 2020-02-29T08:01Z.</p>

<p><i>I guess I could use some help with this, but I tried ...</i></p>


<h3 id="privacy-responsible">Responsible person</h3>

<p>See <a href="#imprint">Imprint bellow</a>.</p>

<h3>Data Protection Officer</h3>

<p>For questions / comments / acting your rights please contact the <a href="#privacy-responsible">responsible person</a> (since there is no dedicated Data Protection Officer).</p>


<h3>How to contact the appropriate authority</h3>

<p>Should you wish to report a complaint or if you feel that Dominik Tugend has not addressed your concern in a satisfactory manner, you may contact the Information Commissioner’s Office: <a href="https://www.tlfdi.de/tlfdi/kontakt/">Thüringer Landesbeauftragter für den Datenschutz und die Informationsfreiheit (TLfDI)</a>.</p>


<h3>Purpose</h3>

<p>Providing the website advancedfx.org and allowing community contributions (e.g. translations on l10n.advancedfx.org) and interactions (e.g. Twitter, Discord, GitHub).</p>


<h3>Legal basis</h3>

<p>Legal basis is a combination of these: Consent (GDPR 6.a), Contract (GDPR 6.b), Legal obligation (GDPR 6.c), Vital interests (GDPR 6.d), Public task (GDPR 6.e).</p>


<h4>Types of interaction</h4>


<h5>Public interaction</h5>

<p>Community contributions and interactions to / with the advancedfx.org project (e.g. l10n.advancedfx.org) and contacting us publicly (e.g. on Twitter or Discord) are a Public task (GDPR 6.e), unless covered other bases listed above.</p>


<h5>Personal interaction</h5>

<p>By contacting Dominik Tugend personally you are giving your Consent (GDPR 6.a), unless covered by other bases listed above.</p>


<h5>Platforms of interaction</h5>

<p>Generally only advancedfx.org is within our reach. The Privacy Policy of the platform also applies.</p>


<h5>advancedfx.org / www.advancedfx.org</h5>

<ul>
<li>Personal contact is received by Dominik Tugend and routed through Vagas VGS (vagas.co.il) and Google Mail (<a href="https://policies.google.com/">Google Privacy & Terms</a>).</li>
<li>DNS Queries are processed by Vagas VGS (vagas.co.il).</li>
<li>The website is hosted by GitHub (<a href="https://github.com/site/privacy">GitHub Privacy Statement</a>).</li>
</ul>

<h5>l10n.advancedfx.org</h5>

<ul>
<li>You are performing a public task and your email address and time, nature and content of contribution is stored.</li>
<li>Your email address is visible to others logged in via GitHub.</li>
<li>It is possible to delete your account by requesting us to do so, however your contributions will remain.</li>
<li>DNS Queries are processed by Vagas VGS (vagas.co.il).</li>
<li>The server your data is processed on is provided by Hetzner (hetzner.com - <a href="https://www.hetzner.com/rechtliches/datenschutz">Privacy Policy</a>)</li>
</ul>


<h5>twitter.com</h5>

<ul>
<li>Twitter Privacy Policy: <a href="https://twitter.com/en/privacy">https://twitter.com/en/privacy</a></li>
<li>Personal contact to @dtugend is received by Dominik Tugend</li>
<li>"Personal" contact to @advancedfx_org is received by a subset of the active HLAE Team, see <a href="https://www.advancedfx.org/credits/#team">Credits#team</a>, so you shouldn't consider this contact to be personal.</li>
</ul>

<h5>github.com</h5>

<ul>
<li>GitHub Privacy Statement: <a href="https://github.com/site/privacy">https://github.com/site/privacy</a></li>
</ul>

<h5>Discord</h5>

<ul>
<li>Discord Privacy Policy: <a href="https://discordapp.com/privacy">https://discordapp.com/privacy</a></li>
</ul>


<h5>Other platforms</h5>

<ul>
<li>The Privacy Policy of the platform applies.</li>
</ul>


<h3>Data Transfers into third countries</h3>

<p>Interacting with us unavoidably generates data with companies listed in "Platforms of interaction".<br/>
<i>This is the world wide web, did you really think this data stays inside your country?</i></p>

<p>We do not actively share your personal data with others.</p>


<h3>Existence of rights</h3>

<p>You have rights according to GDPR, for more info see <a href="https://gdpr.eu/what-is-gdpr/">https://gdpr.eu/what-is-gdpr/</a>, <a href="https://gdpr.eu/tag/chapter-3/">https://gdpr.eu/tag/chapter-3/</a>.<br />
<i>Better not be on the bad list of a secret service or government or big company, because secret services and governments and big companies tend to shit on your rights.</i></p>


<h3>Privacy policies of other websites</h3>

<p>The website contains links to other websites. Our privacy policy applies only to our website, so if you click on a link to another website, you should read their privacy policy.</p>


{% include new-section.html id="imprint" %}

<h2>Imprint</h2>

<p><b>Dominik Tugend</b><br />
Dominik Tugend (sole proprietorship)<br />
Vilniuser Str. 16<br />
99089 Erfurt<br />
Germany<br />
Phone: +4915238242019<br />
Email: dominik@matrixstorm.com (<a href="https://keys.openpgp.org/search?q=dominik%40matrixstorm.com">keys.openpgp.org</a>)<br />
VAT No.: DE315102809</p>
