<h3><a href="https://github.com/advancedfx/advancedfx/wiki"><b>Manual</b></a></h3>
<p>
</p>

<h3><a href="https://discord.gg/NGp8qhN"><b>Discord</b></a></h3>
<p>
	Sort of chat.
</p>

<h3><a href="https://www.reddit.com/r/advancedfx/"><b>r/advancedfx</b></a></h3>
<p>
	Sub-reddit. Sort of forum.
</p>

<h3><a href="https://github.com/advancedfx/advancedfx/issues"><b>GitHub - Issues</b></a></h3>
<p>
	For bug reports and suggestions.<br />
	Might be a good idea to <b>research old (closed) issues first</b>, since
	often bugs are more like questions that might have been answered earlier.
</p>