<p>To be used with mirv_camio / mirv_streams record cam.<br />
These plugins /&nbsp;scripts assist you with importing HLAE camera motion data in various 3D applications or exporting to HLAE again.<br />
&nbsp;</p>
<p><strong>After Effects </strong>Import Script: <a href="https://github.com/xNWP/HLAE-CamIO-To-AE/releases">HLAE CamIO To AE</a> by <a href="https://github.com/xNWP">xNWP</a></p>
<p><strong>Cinema4D </strong>Import Script: <a href="https://github.com/xNWP/HLAE-CamIO-To-C4D/releases">HLAE CamIO To Cinema4D</a> by <a href="https://github.com/xNWP">xNWP</a></p>