<p>Other plugins / scripts to make your life easier.<br />
&nbsp;</p>

<p><strong>Blender</strong>: <a href="https://github.com/advancedfx/afx-blender-scripts">afx-blender-scripts</a></p>

<p><strong>Cinema4D</strong>: <a href="https://github.com/xNWP/AGR-Cleanup-Tool">AGR-Cleanup-Tool</a> by <a href="https://github.com/xNWP">xNWP</a><br />
Aids in cleaning up Advanced Effects Game Recording (AGR) Files.</p>

<p><strong>Cinema4D</strong>: <a href="https://github.com/xNWP/SourceModelFixer">SourceModelFixer</a> by <a href="https://github.com/xNWP">xNWP</a><br />
Deletes corrupt .vtx files from Source games i.e. CS:GO</p>

<p><strong>Cinema 4D</strong>: <a href="https://github.com/advancedfx/advancedfx-prop/raw/tool-files/crafty_mat_fix02.rar"><strong>Crafty Material Fix</strong> 0.2</a> (older versions: <a href="https://github.com/advancedfx/advancedfx-prop/raw/tool-files/crafty_mat_fix01.rar">0.1</a>)<br />
<u>About:</u>&nbsp;Automates fixing material /&nbsp;texture links for maps exported by Crafty.<br />
<u>Documentation:</u>&nbsp;<a href="http://www.youtube.com/watch?v=fPM6KSgypq4">video tutorial</a><br />
<u>Author</u>: msthavoc</p>

<p><strong>Source FilmMaker</strong>: <a href="https://github.ocm/advancedfx/afx-sfm-scripts/releases/latest">afx-sfm-scripts</a></p>
