<h3><a href="https://github.com/advancedfx/advancedfx/wiki"><b>Manual</b></a></h3>
<p>
</p>

<h3><a href="https://forum.advancedfx.org/"><b>Forum</b></a></h3>
Longer response times than Discord, but can be better support than Discord.
</p>

<h3><a href="https://discord.gg/NGp8qhN"><b>Discord</b></a></h3>
<p>
	Live chat where we also try to help people, often lower response times but might be worse support than forum.
</p>

<h3><a href="https://github.com/advancedfx/advancedfx/issues"><b>GitHub - Issues</b></a></h3>
<p>
	This is mainly thought for bug reports. Might be a good idea to research old (closed) issues first, since
	often bugs are more like questions that might have been answered earlier.
</p>
