<p>These plugins /&nbsp;scripts assist you with importing HLAE camera motion data in various 3D applications or exporting to HLAE again.<br />
&nbsp;</p>
<p><strong>3DsMax</strong> Import Plugin <a href="https://github.com/advancedfx/advancedfx-prop/raw/tool-files/hlaecamimporter104.rar">HLAE&nbsp;Cam&nbsp;Importer 1.0.4</a><br />
<strong>3DsMax</strong> Export Plugin <a href="https://github.com/advancedfx/advancedfx-prop/raw/tool-files/hlaecamexporter100.zip">HLAE&nbsp;Cam Exporter 1.0.0</a><br />
<u>Documentation:</u> <a href="https://github.com/advancedfx/advancedfx/wiki/HLAE-Cam-Importer">HLAEwiki</a><br />
<u>System requirements:</u> HLAE 2.2.5.14 or newer, 3dsMax 5.x(?7.x / 2008?) or newer.<br />
<u>Author:</u> msthavoc</p>

<p><strong>After Effects </strong>Import Script: <a href="https://github.com/advancedfx/advancedfx-prop/raw/tool-files/HLAE_BVH_2_AE_Cam_center15.zip">hlaebvh2AECam1.5</a><strong><br />
After Effects </strong>Export Script: <a href="https://github.com/advancedfx/advancedfx-prop/raw/tool-files/AE_CAM_2_HLAE_BVH_10_msthavoc.zip">AECam2hlaebvh1.0</a><br />
<u>Documentation:</u> <a href="http://www.youtube.com/view_play_list?p=CE8192FD6342179D">video tutorials</a><br />
<u>Author</u>: msthavoc</p>

<p><strong>Blender</strong> Plugins: <a href="https://github.com/advancedfx/afx-blender-scripts">afx-blender-scripts</a></p>


<p><strong>Cinema 4D </strong>Import Plugin: <a href="https://github.com/advancedfx/advancedfx-prop/raw/tool-files/hlcam2c4d_1_4_msthavoc.zip">hlcam2c4d 1.4</a><br />
<strong>Cinema 4D</strong> Export Plugin: <a href="https://github.com/advancedfx/advancedfx-prop/raw/tool-files/c4d2hlcam_10_msthavoc.rar">c4d2hlcam 1.0</a><br />
<u>Documentation:</u> <a href="https://github.com/advancedfx/advancedfx/wiki/HLAE-Cam-2-Cinema4D">HLAEwiki</a>, <a href="http://www.youtube.com/view_play_list?p=86726D0E3D469EE5">video tutorials</a><br />
<u>System requirements:</u> HLAE 2.2.5.14 or newer, Cinema 4D R9.5 or newer<br />
<u>Author:</u> msthavoc</p>

<p><strong>Source FilmMaker</strong> Plugins: <a href="https://github.com/advancedfx/afx-sfm-scripts/releases/latest">afx-sfm-scripts</a></p>


<p><u>Writing your own plugin:</u><br />
The HLAE&nbsp;.bvh format is very <u>similar to but currenlty not compatbile with</u> the <a href="http://www.cs.wisc.edu/graphics/Courses/cs-838-1999/Jeff/BVH.html">BioVision (BVH) format</a>: The only difference is that HLAE&nbsp;rotation order is XYZ while BVH&nbsp;would require&nbsp;ZXY.</p>