					</div>
				</div>
			</div>
		</main>
		
		<footer class="footer bg-light border-top mt-auto">
			<div class="container-fluid text-center">
				<div class="row">
					<div class="col-md-12 py-3">
						<a href="/contact/" class="{% if page.url contains '/contact/' %}font-weight-bold{% endif %}">Contact{% if page.url contains '/contact/' %} <span class="sr-only">(current)</span>{% endif %}</a>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 pb-3">
						<span class="text-muted">Hosted by <a href="https://github.com/">GitHub</a>.</span>
					</div>
				</div>
			</div>
		</footer>
		
		<script src="/js/jquery-3.3.1.slim.min.js"></script>
		<script src="/js/popper.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
	</body>
</html>
