{% assign contributors = site.contributors %}
{% assign contributors = contributors | sort: "date_from", "last" | sort: "date_to", "first" | sort: "member", "last" %}   
{% for contributor in contributors %}
{% assign is_member = contributor.member | default: false %}
{% if is_member == include.member %}
<div class="contributor">
<h3 id="contrib_{{ contributor.slug }}">
<b>{{ contributor.name | xml_escape }}</b>
</h3>

<div class="mb-1">
{{ contributor.date_from | date: "%B %Y" | xml_escape }}
{% if contributor.date_to != nil %}
  - {{ contributor.date_to | date: "%B %Y" | xml_escape }}
{% endif %}
</div>

{% if contributor.links != nil %}
<ul class="links mb-1">
	{% assign links = contributor.links | split: ", " %}
	{% for link in links %}
		<li>{% include mk-link.html url=link %}</li>
	{% endfor %}
</ul>
{% endif %}

<ul class="contributions mb-1">
{% assign contributions = contributor.contributions | split: ", " %}
{% for contribution in contributions %}
	{% assign contribution_type = site.contribution_types | where: "slug", contribution | first %}
	{% if contribution_type != nil %}
		<li><span class="icon">{{ contribution_type.emoji | xml_escape }}</span> {{ contribution_type.represents | xml_escape }}</li>
	{% else %}
		<li>{{ contribution | xml_escape }}</li>
	{% endif %}
{% endfor %}
</ul>

<div class="content">
{{ contributor.content | markdownify }}
</div>

</div>
{% endif %}

{% endfor %}
