---
layout: default
title: Download
afx_sections: [["team","Team"],["contributors","Contributors"],["credits","Credits"]]
---

{% include new-section.html id="team" %}

<h2>Team</h2>

{% include mk-contributors.html member=true %}

{% include new-section.html id="contributors" %}

<h2>Contributors</h2>

{% include mk-contributors.html member=false %}

{% include new-section.html id="credits" %}

<h2>Credits</h2>

For further credits (e.g. software / licenses used) please <a href="https://github.com/advancedfx/advancedfx/blob/master/resources/readme.txt">see the official readme.txt</a>