---
layout: default
title: Download
afx_sections: [["team","Team"],["contributors","Contributors"],["donors","Donors"],["credits","Credits"]]
---

{% include new-section.html id="team" %}

<h2>Team</h2>

{% include mk-contributors.html member=true %}

{% include new-section.html id="contributors" %}

<h2>Contributors</h2>

{% include mk-contributors.html member=false %}

{% include new-section.html id="donors" %}

<h2>Donors</h2>

<p>Thanks to our donors:</p>

<ul>
	<li><a href="https://opencollective.com/advancedfx/#section-contributors">opencollective.com/advancedfx/#section-contributors</a></li>
	<li><a href="https://github.com/sponsors/advancedfx">github.com/sponsors/advancedfx</a> (Money is sent to our OpenCollective account.)</li>
</ul>

{% include new-section.html id="credits" %}

<h2>Credits</h2>

<p>Additional credits are included with e.g. the main download in the readme.txt file.</p>