---
layout: default
title: Download
afx_sections: [["team","Team"],["contributors","Contributors"],["credits","Credits"]]
---

{% include new-section.html id="team" %}

<h2>Team</h2>

{% include mk-contributors.html member=true %}

{% include new-section.html id="contributors" %}

<h2>Contributors</h2>

{% include mk-contributors.html member=false %}

{% include new-section.html id="credits" %}

<h2>Credits</h2>

<p>Additional credits are included with e.g. the main download in the readme.txt file.</p>