---
layout: default
title: Download
afx_sections: [["hlae-download","Half-Life Advanced Effects"],["tools-hlae-camio","Tools - HLAE Camera IO"],["tools-hlae-camdata","Tools - HLAE Camera Motion Data (old)"],["tools-other","Tools - Other"]]
---

{% include new-section.html id="hlae-download" %}

<h2>Half-Life Advanced Effects</h2>

<p style="background-color:#FFE0E0;padding:1.5rem;margin:0">
	<span style="color: rgb(128, 0, 0);"><strong>VAC warning:</strong></span> The HLAE tool is technically a hack, therefore you should use it for making movies / watching demos only. Joining VAC protected servers with HLAE will probably get you VAC banned.<br />
	<span style="color: rgb(128, 0, 0);"><strong>Epilepsy warning:</strong></span> This software will cause fast changing images and colors on your screen.
</p>

<div style="border-top: 1px dashed #808080"></div>

<p style="background-color:#C0F0C0;padding:1.5rem;margin:0">
	Current release, compatible with latest Steam version:<br>
	<a href="https://github.com/advancedfx/advancedfx/releases/latest"><span style="font-size: larger;"><strong>HLAE 2.142.1</strong></span> (2022-12-06T16:12Z)</a> (<a href="https://github.com/advancedfx/advancedfx/releases">old versions</a>) (<a href="http://www.advancedfx.org/files/logo2009.svg">logo</a>)
</p>

<div style="border-top: 1px dashed #808080"></div>

<p style="background-color:#E0E0E0;padding:1.5rem;margin:0">
	Last release with AfxHookGoldSrc and related tools compatible with Steam version before 10th July 2017 (unsupported):<br />
	<a href="https://github.com/ripieces/advancedfx/releases/tag/v2.34.5"><span style="font-size: larger;"><strong>HLAE 2.34.5</strong></span> (2017-07-08T14:48Z)</a>
</p>

<div style="border-top: 1px dashed #808080"></div>

<p  style="background-color:#E0E0E0;padding:1.5rem;margin:0">
	Release compatible with Steam version from July 2009 (unsupported):<br />
	<a href="https://github.com/ripieces/advancedfx-prop/releases/tag/v2.2.21.14"><span style="font-size: larger;"><strong>HLAE 2.2.21.14</strong></span> (2013-02-09T14:16Z)</a>
</p>

<p><u>About:</u> <a href="https://github.com/advancedfx/advancedfx/wiki/Half-Life-Advanced-Effects">HLAEwiki</a></p>

<p><u>Documentation:</u> <a href="https://github.com/advancedfx/advancedfx/wiki">HLAEwiki</a></p>

<p><u>System requirements:</u></p>

<p>- Microsoft Windows 7 SP1 or newer<br />
- <a href="http://www.microsoft.com/net/">Microsoft .NET Framework 4.6.2 or newer</a><br />
- Genuine Steam version<br />
- a lot of patience<br />
&nbsp;</p>

<p><u>Tip:</u></p>

<p>Using <a href="https://support.steampowered.com/kb_article.php?ref=3160-AGCB-2555" target="_blank">Steam&#39;s offline mode</a> you can avoid retriving updates that break HLAE during movie production.<br />
&nbsp;</p>

<p><u>Changelog:</u></p>

<div style="border: 1px solid black; padding: 4px">
<p><tt>
Newer changelog entries are replicated on the <a href="https://github.com/advancedfx/advancedfx/releases">releases page here</a>.
</tt></p>
</div>

<p>Further changelog entries can be found in the changelog XML files included in the download.</p>

<p><u>Author:</u> <a href="https://github.com/advancedfx/advancedfx/blob/master/resources/readme.txt">HLAE Team</a></p>

{% include new-section.html id="tools-hlae-camio" %}

<h2>Tools - HLAE Camera IO</h2>

<p>To be used with mirv_camio / mirv_streams record cam.<br />
These plugins /&nbsp;scripts assist you with importing HLAE camera motion data in various 3D applications or exporting to HLAE again.<br />
&nbsp;</p>
<p><strong>After Effects </strong>Import Script: <a href="https://github.com/xNWP/HLAE-CamIO-To-AE/releases">HLAE CamIO To AE</a> by <a href="https://github.com/xNWP">xNWP</a></p>
<p><strong>Blender</strong> Plugins: <a href="https://github.com/advancedfx/afx-blender-scripts">afx-blender-scripts</a></p>
<p><strong>Cinema4D </strong>Import Script: <a href="https://github.com/xNWP/HLAE-CamIO-To-C4D/releases">HLAE CamIO To Cinema4D</a> by <a href="https://github.com/xNWP">xNWP</a><br />
<strong>Cinema4D </strong>Export Script: <a href="https://github.com/xNWP/Cinema4D-Cam-2-HLAE-CamIO/releases">Cinema4D Camera To HLAE CamIO</a> by <a href="https://github.com/xNWP">xNWP</a></p>

{% include new-section.html id="tools-hlae-camdata" %}

<h2>Tools - HLAE Camera Motion Data (old)</h2>

<p>These plugins /&nbsp;scripts assist you with importing HLAE camera motion data in various 3D applications or exporting to HLAE again.<br />
&nbsp;</p>
<p><strong>3DsMax</strong> Import Plugin <a href="https://github.com/advancedfx/advancedfx-prop/raw/tool-files/hlaecamimporter104.rar">HLAE&nbsp;Cam&nbsp;Importer 1.0.4</a><br />
<strong>3DsMax</strong> Export Plugin <a href="https://github.com/advancedfx/advancedfx-prop/raw/tool-files/hlaecamexporter100.zip">HLAE&nbsp;Cam Exporter 1.0.0</a><br />
<u>Documentation:</u> <a href="https://github.com/advancedfx/advancedfx/wiki/HLAE-Cam-Importer">HLAEwiki</a><br />
<u>System requirements:</u> HLAE 2.2.5.14 or newer, 3dsMax 5.x(?7.x / 2008?) or newer.<br />
<u>Author:</u> msthavoc</p>

<p><strong>After Effects </strong>Import Script: <a href="https://github.com/advancedfx/advancedfx-prop/raw/tool-files/HLAE_BVH_2_AE_Cam_center15.zip">hlaebvh2AECam1.5</a><strong><br />
After Effects </strong>Export Script: <a href="https://github.com/advancedfx/advancedfx-prop/raw/tool-files/AE_CAM_2_HLAE_BVH_10_msthavoc.zip">AECam2hlaebvh1.0</a><br />
<u>Documentation:</u> <a href="http://www.youtube.com/view_play_list?p=CE8192FD6342179D">video tutorials</a><br />
<u>Author</u>: msthavoc</p>

<p><strong>Blender</strong> Plugins: <a href="https://github.com/advancedfx/afx-blender-scripts">afx-blender-scripts</a></p>

<p><strong>Cinema 4D </strong>Import Plugin: <a href="https://github.com/advancedfx/advancedfx-prop/raw/tool-files/hlcam2c4d_1_4_msthavoc.zip">hlcam2c4d 1.4</a><br />
<strong>Cinema 4D</strong> Export Plugin: <a href="https://github.com/advancedfx/advancedfx-prop/raw/tool-files/c4d2hlcam_10_msthavoc.rar">c4d2hlcam 1.0</a><br />
<u>Documentation:</u> <a href="https://github.com/advancedfx/advancedfx/wiki/HLAE-Cam-2-Cinema4D">HLAEwiki</a>, <a href="http://www.youtube.com/view_play_list?p=86726D0E3D469EE5">video tutorials</a><br />
<u>System requirements:</u> HLAE 2.2.5.14 or newer, Cinema 4D R9.5 or newer<br />
<u>Author:</u> msthavoc</p>

<p><strong>Source FilmMaker</strong> Plugins: <a href="https://github.com/advancedfx/afx-sfm-scripts/releases/latest">afx-sfm-scripts</a></p>


<p><u>Writing your own plugin:</u><br />
The HLAE&nbsp;.bvh format is very <u>similar to but currenlty not compatbile with</u> the <a href="http://www.cs.wisc.edu/graphics/Courses/cs-838-1999/Jeff/BVH.html">BioVision (BVH) format</a>: The only difference is that HLAE&nbsp;rotation order is XYZ while BVH&nbsp;would require&nbsp;ZXY.</p>

{% include new-section.html id="tools-other" %}

<h2>Tools - Other</h2>

<p>Other plugins / scripts to make your life easier.<br />
&nbsp;</p>

<dl>
	<dt><p><strong>Blender</strong>:</p></dt>
	<dd>
		<ul>
			<li>
				<p>
					<a href="https://github.com/advancedfx/afx-blender-scripts">afx-blender-scripts</a>
				</p>
			</li>
			<li>
				<p>
					<a href="https://github.com/Devostated/HLAE-CoordIO">HLAE-CoordIO</a> by <a href="https://github.com/Devostated">Devo</a><br />
					Allows you to copy transformation data from Blender to After Effects.
				</p>
			</li>
		</ul>
	</dd>
	<dt><p><strong>Cinema4D</strong>:</p></dt>
	<dd>
		<ul>
			<li><p>
				<a href="https://github.com/xNWP/AGR-Cleanup-Tool">AGR-Cleanup-Tool</a> by <a href="https://github.com/xNWP">xNWP</a><br />
				Aids in cleaning up Advanced Effects Game Recording (AGR) Files.
			</p></li><li><p>
				<a href="https://github.com/xNWP/Cinema-4D-Source-Tools">Cinema-4D-Source-Tools</a> by <a href="https://github.com/xNWP">xNWP</a><br />
				Cinema 4D Plugin for importing, exporting, and manipulating filetypes created by Valve Corporation's Source Engine.
			</p></li><li><p>
				<a href="https://github.com/advancedfx/advancedfx-prop/raw/tool-files/crafty_mat_fix02.rar">Crafty Material Fix <i>0.2</i></a> (older versions: <a href="https://github.com/advancedfx/advancedfx-prop/raw/tool-files/crafty_mat_fix01.rar">0.1</a>)<br />
				<u>About:</u>&nbsp;Automates fixing material /&nbsp;texture links for maps exported by Crafty.<br />
				<u>Documentation:</u>&nbsp;<a href="http://www.youtube.com/watch?v=fPM6KSgypq4">video tutorial</a><br />
				<u>Author</u>: msthavoc
			</p></li><li><p>
				<a href="https://github.com/xNWP/HLAELiveLink">HLAELiveLink</a> by <a href="https://github.com/xNWP">xNWP</a><br />
				Allows for the control of the camera in Source Games supported by Half-Life Advanced Effects mirv_pgl function via Cinema 4D.
			</p></li>
	</dd>
	<dt><p><strong>Source FilmMaker</strong>:</p></dt>
	<dd>
		<ul>
			<li><p><a href="https://github.com/advancedfx/afx-sfm-scripts/releases/latest">afx-sfm-scripts</a></p></li>
		</ul>
	</dd>
	<dt><p><strong><i>Other</i></strong>:</p></dt>
	<dd>
		<ul>
			<li><p>
				<a href="https://github.com/xNWP/HLAE-Server">HLAE-Server</a> by <a href="https://github.com/xNWP">xNWP</a><br />
				Managed CLR Library for controlling Half-Life Advanced Effects via the mirv_pgl function.
			</p></li>
			<li><p>
				<a href="https://github.com/xNWP/SourceModelFixer">SourceModelFixer</a> by <a href="https://github.com/xNWP">xNWP</a><br />
				Deletes corrupt .vtx files from Source games i.e. CS:GO
			</p></li>
		</ul>
	</dd>
</dl>



