---
layout: default
title: Download
---

{% include make-blocknav.html blocks="hlae-download/Half-Life Advanced Effects,tools-hlae-camio/Tools - HLAE Camera IO,tools-hlae-camdata/Tools - HLAE Camera Motion Data (old),tools-other/Tools - Other" %}
{% include make-block.html block-id="hlae-download" block-title="Half-Life Advanced Effects" block-file="block-hlae-download.html" %}
{% include make-block.html block-id="tools-hlae-camio" block-title="Tools - HLAE Camera IO" block-file="block-tools-hlae-camio.html" %}
{% include make-block.html block-id="tools-hlae-camdata" block-title="Tools - HLAE Camera Motion Data (old)" block-file="block-tools-hlae-camdata.html" %}
{% include make-block.html block-id="tools-other" block-title="Tools - Other" block-file="block-tools-other.html" %}
